<!doctype html>
<html>
<meta http-equiv="Content-Language" content="pt-br"></meta>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>

<head>
<title>Cateno</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<form action="#" th:action="@{/consultaCep}" th:object="${address}" method="post">
        <p>CEP: <input type="text" th:field="*{cep}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>