<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
	<meta charset="utf-8">
	<title>Cateno - Produtos</title>
</head>
<body>

	<section layout:fragment="content">
	<div class="panel panel-default">
			<div class="panel-heading">Produtos</div>
				<div class="col-sm-8 text-left">
					<div class="panel-body">
				
						<p>Number:<span th:text="${products.number}"></span></p>
						<p>Size:<span th:text="${products.size}"></span></p>
						<p>Total Pages:<span th:text="${products.totalPages}"></span></p>
						<p>Total Elements:<span th:text="${products.totalElements}"></span></p>
						
						<div class="container">
						    <table class="table">
						      <tr>
						      	<th>Id</th>
						      	<th>Nome</th>
						        <th>Status</th>
						        <th>Id Fantasia Básica</th>
						      </tr>
						      <tr th:each="prod,iterationStatus  : ${products.content}">
						        <td th:text="${prod.id}"></td>
						        <td th:text="${prod.nome}"></td>
						        <td th:text="${prod.status}"></td>
						        <td th:text="${prod.idFantasiaBasica}"></td>
						      </tr>
						    </table>
					    </div>
		
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>






