<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
	<meta charset="utf-8">
	<title>Busca Cep</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="panel panel-default">
			<div class="panel-heading">Busca Cep</div>
				<div class="col-sm-8 text-left">
					<div class="panel-body">
					
						<form action="#" th:action="@{/consultaCep}" th:object="${address}" method="post">
					        <p>CEP: <input type="text" th:field="*{cep}" /></p>
					        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
					    </form>
					    <p>Cep: <span th:text="${address.cep}"></span></p>
						<p>Logradouro: <span th:text="${address.logradouro}"></span></p>
						<p>Bairro: <span th:text="${address.bairro}"></span></p>
						<p>Localidade: <span th:text="${address.localidade}"></span></p>
						<p>UF: <span th:text="${address.uf}"></span></p>
					
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>